<header class="header">
  <nav class="nav">
    <div class="wrapper">
      <div class="logo-container">
        <div class="top">
          <a routerLink="." routerLinkActive="router-link-active" >les joies</a>
        </div>
        <div class="bottom">
          <a routerLink=".">chrétiennes</a>
        </div>
      </div>
      <ul>
        <li (click)="getRandom()">
          <button type="button">Random</button>
        </li>

        <li>
          <a href="/blog">Blog</a>
        </li>

        <li>
          <a href="/shop">Boutique</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
