<header class="header">
  <nav class="nav">
    <div class="wrapper">
      <div class="logo-container">
        <div class="top">
          <a href=".">les joies</a>
        </div>
        <div class="bottom">
          <a href=".">chrétiennes</a>
        </div>
      </div>
      <ul>
        <li>
          <a href="/random">Random</a>
        </li>

        <li>
          <a href="/blog">Blog</a>
        </li>

        <li>
          <a href="">Boutique</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
